# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDE - VSCode
.vscode/
*.code-workspace

# IDE - IntelliJ
.idea/
*.iml
*.ipr
*.iws

# IDE - Eclipse
.classpath
.project
.settings/
.factorypath

# Java
*.class
*.log

# OS
.DS_Store
Thumbs.db

# Spring Boot
HELP.md

# Datos sensibles (por las dudas)
application-local.properties
.env